*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #fffffb;
    /* margin: 0px 4px 4px 4px; */
}

.backdrop{
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);    
}

/*<----------------------------main-header---------------------------------->*/

.main-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)),rgba(64, 226, 64, 0.781);
    padding: 8px 16px;
    z-index: 1;
}

.main-header >div{
    display: inline-block;
    vertical-align: middle;
}


.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.15rem;
    background: black;
    display: block;
    margin: 0.35rem 0;
  }

.main-header__brand{
    color: rgba(8, 8, 8, 0.507);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img{
    height: 100%;
}

.nav-item{
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.nav-item__list{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.nav-item__lists{
    display: inline-block;
    margin: 0px 16px;
    text-decoration: none;
    
}

.nav-item__lists a,
.mobile-nav__item a
{
    text-decoration: none;
    padding-bottom: 3px;
    font-weight: bold;
    padding: 5px 0;
    color: rgba(10, 70, 10, 0.904);
}

.nav-item__lists a:hover,
.nav-item__lists a:active,
.mmobile-nav__items a:hover,
.mmobile-nav__items a:active{
    color: rgb(238, 234, 238);
    border-bottom: 1px solid rgb(238, 234, 238) ;
    cursor: pointer;
}

.nav-item__lists--cta a,
.mobile-nav__item--cta a{
    color: white;
    padding: 8px 16px;
    background: rgb(211, 35, 35);
    border-radius: 100px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.nav-item__lists--cta a:hover,
.nav-item__lists--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    color: rgb(211, 35, 35);
    background: rgb(238, 234, 238);
    border: none;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.5);
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }
  
  .button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: white;
    color: #0e4f1f;
  }
  
  .button:focus {
    outline: none;
  }
  
  .open {
      display: block !important;
  }  

/*<-----------------button----------------->*/
.button{
    color: white;
    background: rgb(61, 119, 14);
    padding: 8px;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.35);
    font: inherit;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: rgb(236, 227, 227);
    color: rgb(37, 71, 8);
    text-transform: uppercase;
    font-weight: bold;
}

.button:focus{
    outline: none;
}


/* <--------------------main-footer-------------------------> */

.main-footer{
    height: 15vh;
    width: 100%;
    background: rgb(41, 32, 32);
    padding: 32px;
    margin-top: 48px;
}

.main-footer__lists{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__list{
    display: inline-block;
    margin: 0 16px;
}

.main-footer__list a{
    color: thistle;
    text-decoration: none;
}

.main-footer__list a:hover,
.main-footer__list a:active{
    color: yellowgreen;
    cursor: pointer;
}